@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    margin: 0px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

#cabecalho {
    background-color: #080F47;
    color: white;
}

#logo {
    width: 150%;
    height: 150px;
    object-fit: cover;
}

.centralizarDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}


.inputPesquisar {
    border-radius: 50px;
    border-bottom-right-radius: 0px;
}
.submitPesquisar {
    border-radius: 50px;
    border-bottom-left-radius: 0px;
}