.divLogin {
    background-color: rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0px;
    padding: 0px;
}
.divInfo {
    background-color: #080F47;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0px;
    padding: 0px;
}






.login {
    height: auto;
    width: 100%;
    padding: 15px 0px;

    background: rgb(255,99,0);
    background: -moz-linear-gradient(225deg, rgba(255,99,0,1) 0%, rgba(255,138,64,1) 100%);
    background: -webkit-linear-gradient(225deg, rgba(255,99,0,1) 0%, rgba(255,138,64,1) 100%);
    background: linear-gradient(225deg, rgba(255,99,0,1) 0%, rgba(255,138,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6300",endColorstr="#ff8a40",GradientType=1);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.5);
}


#formAuth {
    width: 500px;
}
#formCreate, #textoCreate {
    display: none;
    flex-direction: column;
}
#formLogin, #textoLogin {
    display: flex;
    flex-direction: column;
}
.esqueceuSenha {
    float: right;
}


.cadeadoCloud {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 200px;
    height: 200px;
}
.cloud {
    width: 15%;
    position: fixed;
}
.cadeado {
    width: 5%;
    position: fixed;
    margin-left: 20px;
}
