/* ARQUIVO BASE */

/* Rodapé e Cabeçalho base */
#cabecalho, #rodape {
    background-color: #080F47;
    color: white;
}
.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoImg {
    min-height: 50px;
    max-height: 200px;
    max-width: 100%;
    padding: 10px;
    object-fit: cover;
}


header > div {
    margin: 0px;
    padding: 0px;
}

/* Pesquisar */
.inputPesquisar {
    border-radius: 50px;
    border-bottom-right-radius: 0px;
    border: none;
    max-width: 90%;
}
.submitPesquisar {
    border-radius: 50px;
    border-bottom-left-radius: 0px;
    border: none;
    background-color: white;
}
.inputPesquisar:focus, .submitPesquisar:focus {
    box-shadow: none;
}
.filtroAvancado {
    white-space: nowrap;
    text-decoration: underline;
}
#Pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Login e Acessibilidade */
#Login {
    background-color: #080F47;
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    border-left: 4px solid white;
    box-shadow: 200px 0px 15px -200px rgba(0,0,0,0.5) inset;
    -webkit-box-shadow: 200px 0px 15px -200px rgba(0,0,0,0.5) inset;
    -moz-box-shadow: 200px 0px 15px -200px rgba(0,0,0,0.5) inset;
}
.btnEntrar {
    background-color: #FF6300;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    box-shadow: 200px 0px 15px -200px rgba(0,0,0,0.5) inset;
    -webkit-box-shadow: 200px 0px 15px -200px rgba(0,0,0,0.5) inset;
    -moz-box-shadow: 200px 0px 15px -200px rgba(0,0,0,0.5) inset;
    
}
.btnEntrar>:focus {
    box-shadow: none;
}
.Autenticacao {
    height: 50%;

}

/* Acessibilidade */
.Acessibilidade{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* Botão Texto */
    .acessibilidadeTexto > button {
        padding: 0px;
    }
    .acessibilidadeTexto > button:focus {
        box-shadow: none;
    }
.acessibilidadeTexto, .modoNoturno {
    margin: 0px 10px;
}
/* Modo Noturno */
.modoNoturno{
    background-color: white;
    border-radius: 50px;
    width: 80px;
    min-width: 80px;
    height: 50px;
}
#btnLua{
    background-color: #FF6300;
    border: #FF6300 ;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}
#btnSol{
    background-color: #080F47;
    border: #080F47 ;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    display: none;
}



/* Menu */
#Menu {
    background-color: #FF6300;
    color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    transition: 1s;
    overflow: hidden;
}
.col-2:has(> #Menu) {
    padding: 0px;
    margin: 0pxs;
}
#paginas {
    position: sticky; /*Não quer funcionar pq o #Menu já está com o flex*/
    z-index: 1;
    top: 10px;
}
#iconAngleDrop {
    color: white;
    float: left;
    margin-left: -20px;
    margin-top: 4px;
    transition: color 0s;
}
#dropItens {
    margin-left: 20px;
    transition: 1s;
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}
#dropItens a {
    text-decoration: none;
    color: white;
}
/* .dropText:hover, #iconAngleDrop:hover, #dropItens a:hover  {
    color:#080F47;
    transition: color 0s;
} */
i#iconAngleDrop:left + .dropText:hover{
    color:#080F47;
    transition: color 0s;
}



/* Hamburguer */
#hamburguerBtn{
    z-index: 2;
    width: 50px;
    height: 50px;
    border: #080F47;
    border-radius: 50px;
    background-color: #080F47;
    position: absolute;
    top: 50%;
    left: 15%;
    transition: 0.1s;
}



/* Rodapé */
.sobreNos, .contato {
    margin: 1% 0%;
    
}
.sobreNos>ul, .contato>ul>li {
    margin: 0px 100px;
    width: 100px;
    margin-left: 30%;
}
.voltarAoTopo {
    margin: 50px 0px 25px 0px;
}

