@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

/* Carrossel */
#carouselExampleCaptions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    left: 10%;
}



/* Conteúdo */
.destaquesItem{
    margin: 20px 30px 50px 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
.destaquesItemTexto {
    min-width: 50px;
    max-width: 100%;

    min-height: 80px;
    max-height: 160px;

    overflow: hidden;
}
.gradientHidden {
    bottom: 15px;
    position: absolute;
    z-index: 1;
    height: 40px;
    left: 0;
    right: 0;
    background-image: linear-gradient(transparent, rgb(255, 255, 255));
}
.imgCapaPequena{
    min-width: 100px;
    max-width: 100%;

    min-height: 50px;
    max-height: 200px;
    display: block;
}