@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    margin: 0px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
#cabecalho, #rodape {
    background-color: #080F47;
    color: white;
}
#logo {
    min-height: 50px;
    max-height: 200px;
    max-width: 100%;
    object-fit: cover;
}




/* Pesquisar */
.inputPesquisar {
    border-radius: 50px;
    border-bottom-right-radius: 0px;
    border: none;
    max-width: 90%;
}
.submitPesquisar {
    border-radius: 50px;
    border-bottom-left-radius: 0px;
    border: none;
    background-color: white;
}
.inputPesquisar:focus, .submitPesquisar:focus {
    box-shadow: none;
}
.filtroAvancado {
    white-space: nowrap;
    text-decoration: underline;
}



/* Acessibilidade */
.acessibilidade > * {
    padding: 20px;
}
.acessibilidadeTexto > button {
    padding: 0px;
}
.acessibilidadeTexto > button:focus {
    box-shadow: none;
}



/* Modo Noturno */
.modoNoturno{
    background-color: white;
    border-radius: 50px;
    width: 80px;
    max-width: 80px;
    height: 50px;
    padding: 0px;
}
#btnLua{
    background-color: #FF6300;
    border: #FF6300 ;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}
#btnSol{
    background-color: #080F47;
    border: #080F47 ;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    display: none;
}



/* Menu */
#Menu {
    background-color: #FF6300;
    color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    transition: 1s;
    overflow: hidden;
}
.col-2:has(> #Menu) {
    padding: 0px;
    margin: 0pxs;
}
#paginas {
    position: sticky; /*Não quer funcionar pq o #Menu já está com o flex*/
    z-index: 1;
    top: 10px;
}
#iconAngleDrop {
    color: white;
    float: left;
    margin-left: -20px;
    margin-top: 4px;
    transition: color 0s;
}
#dropItens {
    margin-left: 20px;
    transition: 1s;
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}
#dropItens a {
    text-decoration: none;
    color: white;
}
.dropText:hover, #iconAngleDrop:hover, #dropItens a:hover  {
    color:#080F47;
    transition: color 0s;
}



/* Hamburguer */
#hamburguerBtn{
    z-index: 2;
    width: 50px;
    height: 50px;
    border: #080F47;
    border-radius: 50px;
    background-color: #080F47;
    position: absolute;
    top: 50%;
    left: 15%;
    transition: 0.1s;
}




/* Carrossel */
#carouselExampleCaptions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    left: 10%;
}



/* Conteúdo */
.destaquesItem{
    margin: 20px 30px 50px 30px;
    text-align: justify;
}
.destaquesItemTexto {
    height: 160px;
    overflow: hidden;
}
.gradientHidden {
    bottom: 15px;
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 96%;
    background-image: linear-gradient(transparent, rgb(255, 255, 255));
}
.imgCapaPequena{
    height: 200px;
}
