.noticiaCard {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
    background: #080F47;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 15px;
}
.tituloNoticia {
    color: white;
    word-wrap: break-word;
    overflow: hidden;
    margin: 15px 10px;
    height: auto;
    max-height: 50px;
}
.imgNoticia {
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
/* NÃO ESTÁ SENDO NECESSÁRIO POR ENQUANTO
.gradientHiddenNoticias { 
    position: absolute;
    top: 50px;
    left: 30px;
    z-index: 1;
    height: 50px;

    background-image: linear-gradient(transparent, #080F47);
}*/
