*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
* :not(i){
    font-family: 'Inter', sans-serif;
}
body{
    font-size: 100%;
    list-style-type: none;
}
@viewport {
    zoom: 1.00;
    min-zoom: 0.5;
    max-zoom: 1.25;
}

/* Texto */
.centralizarItens {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centralizarTexto {
    text-align: center;
}
.jutificarTexto {
    text-align: justify;
}
.direitaTexto {
    text-align: right;
}
.desistilizacao {
    text-decoration: none;
    background-color: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
}
.underline:hover {
    color: #FF6300;
    text-decoration: underline;
}
.textoBranco, .linkBrancoAzul, .linkBrancoLaranja {
    color: white;
    text-decoration: none;
}
.textoPreto, .linkPretoAzul, .linkPretoLaranja {
    color: black;
    text-decoration: none;
}
.textoAzul {
    color: #080F47;
}
.textoLaranja {
    color: #FF6300;
}
.linkBrancoLaranja:hover {
    color: #080F47;
    text-decoration: none;
}
.linkPretoLaranja:hover {
    color: #080F47;
    text-decoration: none;
}
.linkBrancoAzul:hover {
    color: #FF6300;
    text-decoration: none;
}
.linkPretoAzul:hover {
    color: #FF6300;
    text-decoration: none;
}
.titulo {
    margin: 50px 0px 20px 0px;
}
.texto-pequeno {
    font-size: xx-small;
}
.texto-medio {
    font-size: large;
}
.texto-grande {
    font-size: xx-large;
}

hr {
    margin: 50px -10px;
}
.espaco-50 {
    height: 50px;
    border: 0px;
}
.espaco-100 {
    height: 100px;
    border: 0px;
}

/* Listas */
.listMenuNone {
    list-style-type: none;
}